* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    max-width: 92rem;
    min-height: 80rem;
    margin: 0 auto;
}


/* Header */
header > .header-text {
    padding: 6rem 0 1.5rem 0;
    text-align: center;
}


/* Subject */
.subject-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 2rem 0;
    border: 2px solid red;
}

.subject-wrap {
    display: block;
    /* width: 40%; */
}

.subject-content {
    display: flex;
    flex-direction: row;
}

.text-first {
    align-self: flex-start;
    
}

.text-second {
    align-self: center;
}

.text-third {
    align-self: flex-end;
}





/* Container */
